/* Global */
* {
  font-family: 'Roboto', sans-serif;
}

/* Chrome scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2); 
}

/* Header */
.header {
  text-align: center;
}

.header .header-logo {
  text-decoration: none;
  color: #a22;
  float: left;
}

.header .header-logo h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 300;
}

.header-toolbar {
  float: left;
  margin-left: 50px;
}

.header-toolbar ul li{
  float: left;
  padding: 6px;
  color: #444;
  cursor: pointer;
  border-radius: 3px;
  width: 20px;
  text-align: center;
  margin: 2px;
  position: relative;
}

.header-toolbar ul li:hover {
  background: rgba(0,0,0,0.2);
}

.header-toolbar ul li.active {
  background: #49c;
  color: #fff;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.header-toolbar ul li.text-font {
  width: auto;
}

.header-toolbar ul li.text-font .font-list {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  z-index: 100;
  width: 200px;
  padding: 0;
  left: 0;
  top:0;
}

.header-toolbar ul li.text-font:hover .font-list {
  display: block;
  width: 200px;
}

.header-toolbar ul li.text-font .font-list:hover {
  display: block;
}

.header-toolbar ul li.text-font .font-list li {
  box-sizing: border-box;
  display: block;
  width: 200px;
  text-align: left;
  padding: 0;
  margin: 0;
  border-radius: 0px;
  padding: 10px;
}

.header-toolbar ul li.text-font .font-list li.barrier {
  border-top: 1px solid #ccc;
}

.header-toolbar ul li.text-font-size {
  margin-top: 0px;
  width: auto;
}

.header-toolbar ul li.text-font-size input {
  display: inline-block;
  max-width: 20px;
  background: none;
  border: 1px solid rgba(0,0,0,0);
  outline: none;
  text-align: center;
}
.header-toolbar ul li.text-font-size input:focus {
  border: 1px solid #aaa;
}

.header-toolbar ul li.text-color .color-picker{
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background: #fff;
  width: 222px;
  z-index: 200;
  display: none;
}

.header-toolbar ul li.text-bg-color .color-picker {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background: #fff;
  width: 222px;
  z-index: 200;
  display: none;
}

.header-toolbar ul li.text-color:hover .color-picker {
  display: block;
}

.header-toolbar ul li.text-bg-color:hover .color-picker {
  display: block;
}

.color-picker canvas {
  border: 1px solid #ccc;
}

.header button {
  height: 30px;
  border: none;
  color: #fff;
  background: #49c;
  border-radius: 2px;
  width: 100px;
  outline: none;
  box-shadow: 0 2px #47a;
}

.header button:hover {
  background: #48b;
}

.header button:active {
  margin-top: 1px;
  background: #48b;
  box-shadow: 0 1px #47a;
}

/* Main Container */
.main-container .slides-list {
  border-right: 1px solid #fff;
  background: #e5e5e5;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  overflow-y: auto;
}

.slides-list .slide-list-icon {
  padding: 20px 20px 20px 16px;
  cursor: pointer;
}

.slides-list .slide-list-icon:hover {
  background: #ccc;
}

.slides-list .slide-list-icon p {
  width: 160px;
  line-height: 90px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background: #fff;
  text-align: center;
  font-size: 30px;
  color: #666;
  border: 2px solid rgba(0,0,0,0);
}

.slides-list .slide-list-icon.active p{
  border: 2px solid #49c;
}

.main-container .slides-editor {
  background: #e5e5e5;
}

.slides-editor .slide-body {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  position: relative;
}

.slide-body .slide {
  display: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background: #fff;
  overflow: hidden;
  width: 80%;
}

.slide-body .slide p, .slide-body .slide div {
  box-sizing: border-box;
  border: 1px dashed #ccc;
  outline: none;
  width: calc(50% - 10px);
  padding: 10px;
}

.slide-body .slide img {
  box-sizing: border-box;
  padding: 5px;
  width: calc(50% - 10px);
  user-select: none;
  -moz-user-select: none;
}

.slides-editor .slide-notes {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  border-top: 1px solid #fff;
}

.slides-editor .slide-notes textarea {
  border: none;
  outline: none;
  resize: none;
}

.loading-gif {
  position: absolute;
  top:45%;
  left: 50%;
}

/* Presentation */

.presentation {
  background: #fff;
}

.presentation .presentation-container {
  transition: 1s;
}

.presentation:-webkit-full-screen {
  position: fixed;
  width: 100%;
  top: 0;
}

.presentation-container .presentation-slide {
  box-sizing: border-box;
  transform-origin: top left;
  overflow:hidden;
}

.presentation-slide * {
  box-sizing: border-box;
  pointer-events: none;
}

/* Toolbar */

.toolbar {
  position: absolute;
  top: 400px;
  left: 400px;
  background: rgba(0,0,0,0.8);
  border-radius: 3px;
  overflow: hidden;
}

.toolbar ul li{
  float: left;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.toolbar ul li.active {
  background: rgba(0,0,0,0.4);
}

.toolbar ul li:hover {
  background: rgba(0,0,0,0.6);
}

.toolbar ul li:nth-child(2) {
  padding: 10px;
}

.toolbar ul li input[type="file"] {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 10px;
  top: 0px;
  left: 0px;
  outline: none;
  opacity: 0;
}

.resize-anchor {
  width: 8px;
  height: 8px;
  background: #49c;
  position: absolute;
  top:300px;
  left: 300px;
  z-index: 90;
  display: none;
}

.delete-element {
  color: #a22;
  position: absolute;
  z-index: 90;
  border-radius: 10px;
  background: #fff;
  padding: 0 1px;
  display: none;
}